.forma-tradicional{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.infor-prato{
    padding: 0 0 0 87px;
}

.infor-prato .titulo{    
    margin-bottom: 25px;
}

.infor-prato .texto{
    margin-bottom: 40px;
} 

.infor-prato a{
    font-size: 2rem;
    color: var(--red);
    font-family: var(--font-conteudo);
    text-decoration: underline;    
}

@media(max-width: 950px){
    .forma-tradicional{
        flex-direction: column;
        margin-top: 0px;
    }

    .img-segurando-prato img{
        width: 100vw;
        padding: 30px;
    }

    .infor-prato{
        padding: 0 25px;
        text-align: center;
    }

    .infor-prato .texto{
        margin-bottom: 20px;
    }

    .infor-prato a{
        font-size: 1.6rem;
        margin-top: 0px;
    }
}