body{
  max-width: 1000px;
  margin: auto;
}  
  
.titulo{
  font-family: var(--font-titulo);
  font-size: 4rem;
  font-weight: 600;
}

.texto{
  font-family: var(--font-conteudo);
  font-weight: 400;
  font-size: 2rem;
}

@media(max-width: 1050px){
  body{
    max-width: 900px;
    margin: auto;
  }
}